* {
    box-sizing: border-box;
}

header {
    text-align: center;
    margin: auto;
}

@media (min-width:992px) {
    section {
        width: 31%;
        height: 160px;
        margin-left: 20px;
        padding: 20px;
        float: left;
        overflow: hidden;
        background-color: #6c9b9b;
        border: 1px solid black;
        position: relative;
    }
    h3 {
        width: 30%;
        text-align: center;
        margin: 0px;
        border: 1px solid black;
        position: absolute;
        top: 0px;
        right: 0px;
    }
    .h-1{
        background-color: blue;
    }
    .h-2{
        background-color: blueviolet;
    }
    .h-3 {
        background-color: brown;
    }
}

@media (min-width:768px) and (max-width:991px) {
    section{
        height: 160px;
        margin-left: 20px;
        padding: 20px;
        float: left;
        overflow: hidden;
        background-color: #6c9b9b;
        border: 1px solid black;
        position: relative;
    }
    .s-1,
    .s-2 {
        width: 47%;
    }
    .s-3{
        width: 96%;
        margin-top: 20px;
    }
    h3 {
        width: 30%;
        text-align: center;
        margin: 0px;
        border: 1px solid black;
        position: absolute;
        top: 0px;
        right: 0px;
    }
    .h-1{
        background-color: blue;
    }
    .h-2{
        background-color: blueviolet;
    }
    .h-3 {
        background-color: brown;
    }
}

@media (max-width:767px) {
    section {
        width: 90%;
        height: 125px;
        margin: 20px;
        padding: 20px;
        float: left;
        overflow: hidden;
        background-color: #6c9b9b;
        border: 1px solid black;
        position: relative;
    }
    h3 {
        width: 30%;
        text-align: center;
        margin: 0px;
        border: 1px solid black;
        position: absolute;
        top: 0px;
        right: 0px;
    }
    .h-1{
        background-color: blue;
    }
    .h-2{
        background-color: blueviolet;
    }
    .h-3 {
        background-color: brown;
    }
}